<a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:;">
    <i class="fa fa-bars"></i>
</a>
<div class="menu-district open-menu">
    <div class="phanTop">
        <h5 class="tieuDe">Menu địa chính</h5>
        <button type="button" class="close tatMenuLeft">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="ShowAll">
        <ul style="padding: 0px 4px;margin-bottom: 0px;">
            <li class="has-children has-all-map" id="0" data-id="0" data-code="0">
                <input type="checkbox" class="input-checkbox">
                <label id="label-menu-left">Tất cả<i class="fa fa-chevron-left" style="padding-left:12px; float:right;display:none;"></i></label>
            </li>
        </ul>
    </div>
    <div class="noiDung2" id="scrollbar">
        <ul class="cd-accordion-menu animated" id="menu-list">
        </ul>
    </div>
</div>
