<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <div class="header" id="li-header">
            <i class="fa fa-map" title="Tải bản đồ thửa đất" aria-hidden="true"></i> <span>Tải bản đồ thửa đất</span>
        </div>
        <ul class="sidebar-menu tree" id="load-menu-left-thua-dat" data-widget="tree">
            <li class="treeview has-children has-all-map" id="0" data-id="0" data-code="0" style="display:none">
                <a href="#">
                    <i class="fa fa-circle-o text-blue"></i> <span>Tất cả</span>
                </a>
            </li>
        </ul>
        @*<div class="menu-left-css" style="margin-top:5px;">
            <div class="ShowAll">
                <ul style="padding: 0px 4px;margin-bottom: 0px;">
                    <li class="has-children has-all-map" id="0" data-id="0" data-code="0">
                        <input type="checkbox" class="input-checkbox">
                        <label id="label-menu-left">Tất cả<i class="fa fa-chevron-left" style="padding-left:12px; float:right;display:none;"></i></label>
                    </li>
                </ul>
            </div>
            <div class="noiDung2" id="scrollbar">
                <ul class="cd-accordion-menu animated" id="menu-list">
                </ul>
            </div>
        </div>*@
    </section>
</aside>