<div class="modal model-update-thua-dat" id="myModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="padding-bottom:0;">
                <h4 class="modal-title">Cập nhật thông tin thửa đất</h4>
                <button type="button" id="close-modal" class="close close-modal-iotlink" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Số hiệu tờ bản đồ</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="number" id="text-update-soTo" class="form-control form-style" placeholder="Số hiệu tờ bản đồ" value=0 min=0 />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Số thứ tự thửa</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="number" id="text-update-soThua" class="form-control form-style" placeholder="Số thứ tự thửa" value=0 min=0 />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Tờ bản đồ cũ</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="number" id="text-update-soTo-old" class="form-control form-style" placeholder="Tờ bản đồ cũ" value="0" disabled />*@
                                <label id="text-update-soTo-old" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Thửa cũ</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="number" id="text-update-soThua-old" class="form-control form-style" placeholder="Thửa cũ" value="0" disabled/>*@
                                <label id="text-update-soThua-old" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Diện tích</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="text" id="text-update-dienTich" class="form-control form-style" placeholder="Diện tích" value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled />*@
                                <label id="text-update-dienTich" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Diện tích pháp lý</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="text" id="text-update-dienTichPhapLy" class="form-control form-style" placeholder="Diện tích pháp lý" value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  disabled/>*@
                                <label id="text-update-dienTichPhapLy" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Mục đích sử dụng</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*@Html.DropDownList("KH", new List<SelectListItem>(), new { @id = "KH-listselectid", @class = "KH-select", autocomplete = "off" })*@
                                <label class="MucDichSuDung form-style"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Tên chủ</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="text" id="text-update-chuNha" class="form-control form-style" placeholder="Tên chủ sở hữu" value="" disabled />*@
                                <label id="text-update-chuNha" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="control-label col-md-4 col-xs-12 required">Địa chỉ</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @*<input type="text" id="text-update-diaChi" class="form-control form-style" placeholder="Địa chỉ" value="" disabled />*@
                                <label id="text-update-diaChi" class="form-style" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" id="btn-update-thua-dat" class="btn btn-primary">Lưu lại</button>
            </div>

        </div>
    </div>
</div>

<style>
    .model-update-thua-dat .row.form-group {
        height: 45px;
        display: flex;
        align-items: center;
    }
</style>