<div class="change-tile-map">
    <div class="parent-tile-map">
        <div class="item-map item-active map-diachinh" data-url="http://rtile-fiolis.map4d.vn/all/2d/{z}/{x}/{y}.png">
            <label>VILIS</label>
        </div>
        <div class="item-map map-map4d" style="display:none" data-url="http://rtile.map4d.vn/all/2d/{z}/{x}/{y}.png">
            <label>Map4D</label>
        </div>
        @*<div class="item-map map-map-ve-tinh" style="display:none" data-url="https://www.facebook.com/maps/ml_roads?theme=ml_road_vector&collaborator=fbid&token=ASZUVdYpCkd3M6ZrzjXdQzHulqRMnxdlkeBJWEKOeTUoY_Gwm9fuEd2YObLrClgDB_xfavizBsh0oDfTWTF7Zb4C&hash=ASYM8LPNy8k1XoJiI7A&result_type=satellite_raster_tile&materialize=true&x={x}&y={y}&z={z}">
            <label>Vệ tinh</label>
        </div>*@
        <div class="item-map map-map-ve-tinh" style="display:none" data-url="https://services.digitalglobe.com/earthservice/tmsaccess/tms/1.0.0/DigitalGlobe:ImageryTileService@EPSG:3857@jpg/{z}/{x}/{-y}.jpg?connectId=71a837e4-2609-4496-b5ea-5f0e4fdb020d">
            <label>Vệ tinh Maxar</label>
        </div>
        <div class="item-map map-dia-chinh" style="display:none" data-url="http://diachinh.map4d.vn/all/2d/{z}/{x}/{y}.png">
            <label>Địa chính</label>
        </div>
    </div>
</div>
<style>
    .change-tile-map {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
        width: 100px;
        height: 60px;
    }

        .change-tile-map .parent-tile-map {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

            .change-tile-map .parent-tile-map .item-map {
                width: 100px;
                height: 60px;
                top: 0px;
                border: 1px solid;
                border-radius: 5px;
                position: relative;
            }

                .change-tile-map .parent-tile-map .item-map.map-diachinh {
                    background-image: url(../../images/1.JPG);
                    background-repeat: no-repeat;
                    background-size: 100px;
                }

                .change-tile-map .parent-tile-map .item-map.map-map4d {
                    background-image: url(../../images/2.JPG);
                    background-repeat: no-repeat;
                    background-size: 100px;
                }
                .change-tile-map .parent-tile-map .item-map.map-map-ve-tinh{
                 background-image: url(../../images/3.JPG);
                    background-repeat: no-repeat;
                    background-size: 100px;
                }
                .change-tile-map .parent-tile-map .item-map.map-dia-chinh{
                 background-image: url(../../images/4.JPG);
                    background-repeat: no-repeat;
                    background-size: 100px;
                }

                .change-tile-map .parent-tile-map .item-map label {
                    width: 100%;
                    height: 26px;
                    position: absolute;
                    bottom: 0px;
                    text-align: center;
                    background: linear-gradient(#dedede1f, #616161ab);
                    margin: 0px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

    /*.change-tile-map .parent-tile-map .item-map:hover {
                    display:block !important;
                }*/
</style>
