<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <div class="header" id="li-header">
            <i class="fa fa-map" title="Tải bản đồ thửa đất" aria-hidden="true"></i> <span>Tải bản đồ thửa đất</span>
        </div>
        <ul class="sidebar-menu tree" id="load-menu-left-thua-dat" data-widget="tree">
            <li class="treeview has-children has-all-map" id="0" data-id="0" data-code="0" style="display:none">
                <a href="#">
                    <i class="fa fa-circle-o text-blue"></i> <span>Tất cả</span>
                </a>
            </li>
        </ul>
    </section>
</aside>