<div class="tool-rule">
    <button type="button" class="btn-common draw-width-height" title="Đo khoảng cách">
        <img src="~/Content/Map/images/Tool_Distance.png" />
    </button>
    <button type="button" class="btn-common draw-area" title="Đo diện tích">
        <img src="~/Content/Map/images/Tool_Area.png" />
    </button>
    <button type="button" class="btn-common draw-replay" title="Xóa tất cả">
        <img src="~/Content/Map/images/Tool_replay1.png" />
    </button>
</div>
<style>
    .tool-rule{
        position:absolute;
        top:6px;
        z-index: 10;
        left:347px;
    }
    .btn-common{
        
        padding: 6px 12px;
        background: #eff5f7;
        outline: none;
        border: 1px solid #2198f16b;
    }
    .btn-active{
        background:#99c1ce;
    }
</style>