.sidebar{
    width:auto!important;
    float: none!important;
}

.sidebar-menu {
    padding: 0!important;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        font-size: 16px;
    }
}

.user-footer > div > a {
    font-size: 13px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 5px;
    background-color: #8B9AA3 !important;
    border-color: #ABBAC3;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: none !important;
    border: 2px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    transition: background-color .15s,border-color .15s,opacity .15s;
    vertical-align: middle;
    margin: 0;
    position: relative;
}